.main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.cards {

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

}
.cards>a{
    display: flex;
    justify-content: center;
    width: fit-content;
    overflow: hidden;

}
@media (max-width:486px) {
    .cards>a{
        width: 100%;
    
    }
    
}